.idea
nornir.log
venv
__pycache__/
outputs/
*-output.txt
backups/
outputs/
.global.ini
inventory/hosts.yaml
inventory.csv
inventory.csv.backup
inventory/hosts.yaml.backup
templates/ios/final.j2
templates/huawei/final.j2
