#
 vlan {{ ini_vars['management_vlan_id'] }}
  description GestRED
#
{% for interface in interfaces %}
interface {{ interface['interface'] }}
 description {{ interface['interface'] }} {{ interface['description'] }}
 port trunk allow-pass vlan {{ ini_vars['management_vlan_id'] }}
 quit
{% endfor %}
#
interface Vlanif{{ ini_vars['management_vlan_id'] }}
 description CONFIGURADO CON NORNIR 5.0
 ip address {{ nr.host['ip'] }} {{ nr.host['mask'] }}
#
