!
aaa new-model
aaa authentication login VTY group tacacs+ local
aaa authentication login CONSOLA local
aaa authorization exec VTY group tacacs+ local
!
aaa session-id common
!
!ip tacacs source-interface Vlan50
!
tacacs-server host {{ ini_vars['tacacs1_ip'] }}
tacacs-server host {{ ini_vars['tacacs2_ip'] }}
tacacs-server timeout 2
tacacs-server directed-request
tacacs-server key {{ ini_vars['tacacs_key'] }}
!
line con 0
 login authentication CONSOLA
!
line vty 0 4
 login authentication VTY
 authorization exec VTY
!
